.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rowreverse{
  flex-direction: row-reverse;
}

#responsesContainer {
  justify-content: center;
  display: flex;
}

#responsesContainer > div {
  padding: 20px;
  background-color: grey;
  border-radius: 5px;
  border: darkgray;
  cursor: pointer;
  margin: 0 10px;
  min-width: 50px;
}

#question {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20%;
  margin-bottom: 5%;
  height: 200px;
}

#counter {
  display: block;
  margin: auto auto;
  padding: 20px;
  background-color: orange;
  max-width: 100px;
  border-radius: 5px;
}

#gameContainer {
  padding: 50px;
  text-align: center;
}